.hero-section {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content {
  text-align: center;
  z-index: 1;
}

.hero-title {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin: 0;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.hero-title:hover {
  color: #ff8c00; /* Orange color on hover */
  transform: scale(1.05); /* Scale on hover */
  text-shadow: 2px 2px 5px rgba(255, 140, 0, 0.5); /* Orange shadow */
}

.hero-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  margin-top: 10px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.hero-subtitle:hover {
  color: #ff8c00; /* Orange color on hover */
  transform: scale(1.05);
  text-shadow: 0 0 10px rgba(255, 140, 0, 0.8), 0 0 20px rgba(255, 140, 0, 0.5); /* Stronger orange shadow */
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.8rem;
  }

  .hero-subtitle {
    font-size: 1.4rem;
  }
}
