/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Container Styles */
.container {
  width: 85%;
  margin: auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
.header1{
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

h1 {
  font-size: 32px;
}

/* Flexbox for Main Content */
.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.chart-container {
  width: 45%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfe4ea;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.calculator-container {
  width: 50%;
  padding: 20px;
  border: 1px solid #dfe4ea;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.calculator-container h2 {
  margin-bottom: 20px;
  color: #34495e;
}

/* Form Styles */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #34495e;
}

.form-group input, 
.form-group select {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group input:focus, 
.form-group select:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}

button {
  padding: 12px 20px;
  height: 19%;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family:'Arial black';
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

button:active {
  background-color: #1f639e;
  transform: scale(1);
}

/* Coal Mines List Styles */
.coal-mines-list {
  margin-top: 30px;
}

.coal-mine-item {
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.coal-mine-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  border: solid #2c3e50;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}

.details-section {
  padding: 15px;
  background-color: #f9fafc;
  display: flex;
  justify-content: space-between;
}

.mine-description,
.emission-details {
  flex: 1;
}

.emission-details textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ffffff;
}